{% extends "base.html" %}

{% block title %} Все пациенты {% endblock title %}

{% block navbar-content %}
<i class="fas fa-hospital-user"></i>&nbsp;&nbsp;Пациенты
{% endblock navbar-content %}

{% block time %}
  <div class="col-sm">
    <center>
      <span id="clock" style="color: #89cff0;"></span>
    </center>
  </div>
{% endblock time %}

{% block nav-btn %}
<a class="btn btn-outline-danger btn-sm border-light text-light" id="btn-nav" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a>
{% endblock nav-btn %}

{% block footer %} style="color: #89cff0; text-decoration: none;"{% endblock footer %}

{% block content %}
  <div class="container">
    <br><br>

    <div class="d-flex justify-content-between">
        <a href="{% url 'add_patient' %}" class="btn btn-outline-primary btn-sm txt-sm"><i class="fas fa-plus"></i>&nbsp;&nbsp;Добавить пациента</a>
        <span class="txt-sm">
          Добро пожаловать <strong><span class="text-primary">{{ user.get_username }}</span></strong>
          <!-- {% now "H:i" %} -->
        </span>
      </div>
      <form>
        <div class="input-group input-group-sm mb-3 mt-4">
        <input name="q" type="text" class="form-control" placeholder="Поиск по" >
        <button class="btn btn-secondary"><i class="fas fa-search"></i></button>
        <a href="{% url 'backend' %}" class="btn btn-dark" style="margin-left: 3px;"><i class="fas fa-sync-alt"></i></a>
      </div>
    </form>

    <!-- Таблица -->
    <center>
      <table class="table table-bordered table-sm" style="text-align:center; font-size:14px;">
        <thead class="table-primary">
          <tr>
            <th style="width: 21%">Имя</th>
            <th style="width: 15%">Телефон</th>
            <th style="width: 21%">Email</th>
            <th style="width: 8%">Возраст</th>
            <th style="width: 7%">Пол</th>
            <th style="width: 10%">Зарегистрирован</th>
            <th style="width: 10%" colspan="2">Действие</th>
          </tr>
        </thead>
        {% for patient in patients %}
        <tr class="txt-sm" id="chk_td">
          <td data-label="Имя" id="top-table">{{ patient.name }}</td>
          <td data-label="Телефон" id="responsive-border">{{ patient.phone }}</td>
          <td data-label="Email" id="responsive-border">{{ patient.email }}</td>
          <td data-label="Возраст" id="responsive-border">{{ patient.age }}</td>
          <td data-label="Пол" id="responsive-border">{{ patient.gender }}</td>
          <td data-label="Зарегистрирован" id="responsive-border">{{ patient.created_at|date:'m/d/Y (H:i)' }}</td>
          <td>
            <a class="btn btn-primary" href="/patient/{{ patient.id }}" title="Установить пациента">
              <i class="fas fa-pen"></i>
            </a>
          </td>

          <td>
            <a class="btn btn-secondary btn-action" title="Удалить пациента" data-bs-toggle="modal" data-bs-target="#deleteModal{{ patient.pk }}">
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>

        <!-- Modal -->
        <div class="modal fade" id="deleteModal{{ patient.pk }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title txt-sm" id="deleteModalLabel"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;&nbsp;Удалить пациента</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="text-center text-danger txt-sm"><i class="far fa-times-circle fa-5x mb-4 mt-2"></i></div>
                  <div class="text-center text-danger txt-sm">
                    <span>ВЫ ХОТИТЕ УДАЛИТЬ ЭТОГО ПАЦИЕНТА?</span>
                    <div class="text-dark mt-3 mb-2">Пациент:<strong>{{ patient.name }}</strong> </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm txt-sm" data-bs-dismiss="modal">Отмена</button>
                <a href="/delete_patient/{{patient.id}}" type="button" class="btn btn-outline-danger btn-sm txt-sm">Удалить</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </table>
    </center>

    <!-- пагинация -->
    <nav class="mt-4 txt-sm">
      {% if patients.has_other_pages %}
        <ul class="pagination justify-content-left">
      {% if patients.has_previous %}
        <a href="?page=1" class="btn btn-outline-primary mb-4" id="first" style="border-radius: 1px; border: 1px solid #d3d3d3;">Первый</a>
        <li class="page-item"><a class="page-link" href="?page={{ patients.previous_page_number }}"><i class="fas fa-angle-double-left"></i></a></li>
      {% else %}
        <li class="page-item-disabled"></li>
      {% endif %}

      {% for i in patients.paginator.page_range %}
        {% if patients.number == i %}
          <li class="page-item-active"><span class="page-link">{{ i }}<span class="sr-only"></span></span></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}

      {% if patients.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ patients.next_page_number }}"><i class="fas fa-angle-double-right"></i></a></li>
        <a href="?page={{ patients.paginator.num_pages }}" class="btn btn-outline-primary mb-4" id="last" style="border-radius: 1px; border: 1px solid #d3d3d3; border-left:none;"> Последний </a>
      {% else %}
        <li class="page-item-disabled"></li>
      {% endif %}
      </ul>
    {% endif %}
  </nav>

  {% for message in messages %}
    {% if message.tags == 'success' %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        var m="{{ message }}";
        swal("Отлично", m, "success")
    </script>
    {% endif %}
  {% endfor %}
  </div>

<span class="text-danger" id="no-data"></span>
 <br><br><br>
{% endblock content %}
